body{
    font-family: Open Sans;
}
.Navwrap{
    width: auto;
    height: 9vh;
    background-image: url("./images/bag9.jpg");
    background-size: cover;
    background-position: center;
    display: flex;

    flex-direction: column;
}
.nav
{
    /* filter:blur(4px); */
    display: flex;
    justify-content: end;
    align-items: center;
    /* background: linear-gradient(90deg,rgb(63, 61, 61),transparent); */
    
}
.nav>a{
    padding: 12px 24px;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: larger;
  
    margin: 10px 20px;
}
.nav>a:hover{
    background-color: rgb(224, 222, 219);
    opacity: 0.7;
    color: black;
    transition: 0.5s;
    
}
.info{
    /* position: absolute; */
    height: 80%;
    display: flex;
    justify-content: center;
   width: 50%;
    align-items:flex-end;
    /* border: 2px solid red; */
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.info>h1{
    font-size: 70px;
    text-align: center;
   
}

#menu{
    height: 0;
    width: 0;
    display: none;
    overflow: hidden;
    
}

@media only screen and (max-width: 936px) {
    .info{
        width: 100%;
    }
    .Navwrap{
        height: auto;
        
        background-color: black;
    }
#menu{
display:block;
text-align: start;
    width: 10%;
    border-radius: 5px;
margin: 10px;
text-align: center;
    height: 7vh;
    font-weight: bolder;
    font-size: xx-large;
    /* display: none; */
    background-color: whitesmoke;
    color: black;
    border: 2px solid transparent;
}
.nav{
    overflow: auto;
    flex-direction: column;
    height: 0vh;
    justify-content: flex-start;
    background-color: white;
    /* color: black; */
    /* opacity: 0.6; */
    transition: 1s;
    
}
.nav>a{
    color: black;
}
}
/*  footer*/
/* footer */
.span {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

footer.nb-footer {
    background: rgb(55, 69, 75);
   
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
}

footer.nb-footer .about .social-media {
    margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: rgb(76, 173, 187);
    border: 1px solid rgb(232, 232, 240);
    transform: scale(1.5);
}

footer.nb-footer .about .social-media ul li a:hover {
    background: rgb(76, 173, 187);
    color: #fff;
    border-color: rgb(232, 232, 240);
    
}
footer.nb-footer .about .social-media ul li{
    padding: 0px 20px;
}

footer.nb-footer .footer-info-single {
    margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid rgb(194, 105, 56);
    padding-left: 5px;
    padding: 2px 80px;
}

footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
   
}

footer.nb-footer .footer-info-single ul li a:hover {
    color: whitesmoke;
}

footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
}

footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;
}

footer.nb-footer .copyright p {
    margin: 0;
    padding: 0;
}
/* description */
.wrapDesc{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.desc{
    margin: 5vh 0px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.decInfo{
    width: 50%;
    text-align: center;
    padding: 0px 5%;
    height: 50vh;
    display: flex;
    align-items: center;justify-content: center;
    font-weight: bolder;
    font-size: large;
    background-color: whitesmoke;
    margin-right: 20px;
}
.desc>img{
    width: 50%;
    height: 50vh;
    object-fit: cover;
    transition: 0.8s;
    /* background-color: whitesmoke; */
   
    margin: 0px 20px;
}


  @media only screen and (max-width: 936px) {
    .desc{
        flex-wrap: wrap;
        height: auto;
    }
    .decInfo{
        width: 90%;
        
        margin: 0px 20px;
    }
    .desc>img{
        width: 90%;
        
    }
   

  }
        .title{
            text-align: center;
        }

        /* products */
        .productwrap {
            margin-top: 20vh;
                width: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                /* justify-content: space-evenly; */
                /* flex-wrap: wrap; */
                /* flex-basis: calc(50%-10px);
                overflow-x: scroll;
                flex-shrink: 0;
                scroll-snap-type: x mandatory;
                scroll-snap-align: start; */
            }
    
            .cards {
                width: 50%;
                height: auto;
                
                border-radius: 12px;
                box-shadow: 0px 0px 10px 10px rgb(243, 234, 234);
                display: flex;
                justify-content: space-between;
                align-items: center;
                /* flex-direction: column; */
                margin: 5vh 25px;
                padding: 15px;
                transition: 1s;
            }
            .cardContent{
                /* border: 2px solid red; */
                margin: 0px auto;
                display:flex;
                flex-direction:column; 
                justify-content: center;
                align-items: center;
            }
    
            .cards>img {
                width: 40%;
                border-radius: 6px;
                height: 40vh;
                object-fit: cover;
                transition: 1s;
                /* object-position: top; */
                /* margin: 10px 0px; */
    
            }
            .cards>img:hover{
                transition: 1s;
                
                object-position: center;
                
            }
    
            .Cardcontent {
                
                text-align: center;
                padding: 15px;
            }
    
            .cardbtn {
                width: 100%;
                display: flex;
                font-weight: bold;
                margin-top: 20px;
                justify-content: space-evenly;
            }
            .cardbtn>a,.cardbtn>p>a{
                padding: 12px 24px;
                transition: 0.8s;
                border-radius: 10px;
                margin: 0px 20px;
                
            }
            .cardbtn>.submit:hover{
                transition: 0.8s;
                color: white;
            background-color: rgb(63, 220, 76);
            }
            
          
    
            @media only screen and (max-width: 913px) {
                .cards {
                    width: 70%;
                    flex-direction: column;
                }
                .cards>img{
                    object-fit: cover;
                    width: 100%;
                }
               
            }
            /* comments */
            textarea{
                width: 100%;
                height: 50vh;
            }
            .btnComm{
                background-color: rgb(179, 187, 186);
            }
            .btnComm:hover{
                background-color: rgb(145, 159, 144);
            }

            /* show page */
            .thumbnail>img {
                width: 50%;
                height: 70vh;
                object-fit: cover;
                object-position: center;
                transition: 1s;
                border-radius: 10px;
            }
    
           
    
            .thumbnail {
    
                border-radius: 20px;
                padding: 10px;
                transition: 1s;
                box-shadow: 0px 0px 8px 8px rgb(240, 235, 235);
            }
    
            #increaseHeight {
                height: 5vh;
            }
    
            #increaseHeight:hover {
                transition: 1s;
                height: 20vh;
            }
    
            .commentswrap {
                width: 70%;
                height: auto;
                border: 2px solid rgb(79, 79, 118);
                border-radius: 10px;
                margin: 25px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
    
            .commentAdd {
                width: 30%;
            }
    
            .comments {
                text-align: center;
                background-color: whitesmoke;
                padding: 10px 20px;
                border-radius: 15px;
                letter-spacing: 1px;
                font-size: large;
                margin: 20px 10px;
                display: flex;
            }
           
            .commentsImage{
                border-radius: 50%; width:200px; height:200px;
                object-fit: cover;
            }
            .commentsInfo{
                width: 70%; text-align:center;
            }
    
            @media only screen and (max-width: 913px) {
                .thumbnail>img{
                    width: 100%;
                }
                .commentsImage{
                 width:100px; height:100px;
                
                 
            }
            .commentsInfo{
                width: 80%;
            }
                .comments {
                    width: 100%;
                    margin: 20px;
                }
    
                .commentswrap {
                    width: 100%;
                }
    
                .commentAdd {
                    width: 100%;
                }
            }
            /* Admin show */
            .show>img{
                height: 70vh;
                width: 60%;
                object-fit: cover;
                transition: 1s;
                border-radius: 10px;
            }
         
            @media only screen and (max-width: 836px) {
                .show>img{
                    width: 100%;
                }
            }
            .show{
                border-radius: 10px;
                padding: 10px;
                transition: 1s;
            }
            .lowerWrap{
                display: flex;
                justify-content: space-evenly;
            }
            .lowerWrap>a,.lowerWrap>form>button{
                /* width: 10vw; */
                padding: 12px 48px;
            }
           
            .display{
                transition: 1s;
                box-shadow: 0px 0px 2px 2px rgb(237, 223, 223);
                margin-top: 20px;
                padding: 10px;
                border-radius: 20px;
                transition: 0.8s;
            }
            .display:hover{
                transition: 0.8s;
                box-shadow: 0px 0px 8px 8px rgb(237, 223, 223);
            }
            /* edit products */
            .editform{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                box-shadow: 0px 0px 5px 5px rgb(232, 227, 227);
                font-weight: bolder;
                font-size: 16px;
                width: 40%;
                height: auto;
                margin: 20vh auto;
              
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-direction: column;
               background-color: white;
              
                 border-radius: 20px;
                 transition: 1s;
                 box-shadow: 0px 0px 8px 8px rgb(101, 95, 95);
            }
            .editform:hover{
                transition: 1s;
                background-position: bottom;
            }
           .editform>input,.editform>label,.editform>textarea{
                width: 90%;
                height: 6vh;
                padding: 7px;
               
               color: black;
               background-color: transparent;
                border-radius: 10px;
            }
            .editform>input,.editform>textarea{
                color: black;
                background-color: whitesmoke;
            }
           
            @media only screen and (max-width: 836px) {
               .editform{
                    width: 90%;
                }
            }
            .editform>.upper{
                width: 100%;
                height: 15vh;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                
                background-color: rgb(111, 19, 187);
                border-radius: 20px 20px 0px 0px;
            }

            /* billing */

           
            .billcar{
                width: 40%;
                
            }
            .billcar>input{
                font-size:22px; 
                height: 7vh;
                width: 98%;
            }
            .billcar>label{
                font-weight: 100;
            }
            .billingPrice{
              width: 40%;
            }
           
            .flex{
                width: 85%;

            }
            @media only screen and (max-width: 836px){
                .billcar{
                    width: 80%;

                }
                #priceSpace{
                  margin-left: 20px;
                }
                .billingPrice{
                  width: 85%;
                }
                .flex{
                width: 100%;

            }
            }
            
       